<div class="container">
  <div class="grid header">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Cart</a></li>
      </ul>
    </nav>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
  </div>
  <div class="grid hero">Hero</div>
  <div class="grid main">Main Content
  </div>

  <div class="grid footer">Footer</div>
</div>
