@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-columns: 0.4fr 0.3fr  0.3fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  background-color: #fff;
  height: 100vh;
  grid-template-areas:
  "head head2 . side"
  "hero hero2 . side"
  "main main2 . side"
  "footer footer footer footer";
}

.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: rgba(193, 207, 203, 0.7);
  border-bottom: 2px solid #b0e0ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  list-style-type: none;
}

.header nav li {
  margin-right: 15px;
}


.hero {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: #0A3442;
  min-height: 300px;
}

.main {
  grid-column: 1 / 4;
  grid-row: 3 / 6;
  background-color: #51bb7b;
}


.footer {
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  background-color: rgb(161, 177, 71);
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .hero {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }


  .main {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    background: #f5c531;
    height: 400px;
  }

  footer {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-color: #9f9c9c;
  }

}
