/* You can add global styles to this file, and also import other style files */

/* update your 'styles.css' with */
@import '~bootstrap/dist/css/bootstrap.css';

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }